## @param version YashanDB cluster version
##
version: 23.1.1.100

## @param replicas specify cluster replicas
##
replicas: 1

## @param cpu
##
cpu: 1

## @param memory, the unit is Gi
##
memory: 1

## @param storage size, the unit is Gi
##
storage: 20