# Default values for PolarDB-X.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

clusterVersionOverride: ""

roleProbe:
  failureThreshold: 2
  periodSeconds: 1
  timeoutSeconds: 1
  image:
    repository: arey/mysql-client
    tag: latest

# Related image configurations.
image:
  registry: docker.io

images:
  polardbx:
    pullPolicy: IfNotPresent
    # Repo of polardbx default images. Default is polardbx.
    repository: polardbx

    # Images for xstore(DN) tools updater.
    toolsUpdater:
      name: xstore-tools
      tag: v1.5.0

    # Image for DN engine
    dn:
      name: polardbx-engine-2.0
      tag: 80-8.0.18-20231101115000

    # Image for CN engine
    cn:
      name: polardbx-sql
      tag: 5.4.18-20231101115000

    # Image for CN initialization
    init:
      name: polardbx-init
      tag: v1.5.0

    # Image for CN engine
    cdc:
      name: polardbx-cdc
      tag: 5.4.18-20231101115000

    # Image for CN&CDC exporter
    exporter:
      name: polardbx-exporter
      tag: v1.5.0

  # Tool image settings for gms initialization
  mysql:
    repository: mysql
    pullPolicy: IfNotPresent
    tag: "8.0.30"

  # Images for DN exporter
  prom:
    repository: prom
    pullPolicy: IfNotPresent
    mysqld_exporter:
      name: mysqld-exporter
      tag: v0.14.0
