# Default values for PolarDB-X.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

roleProbe:
  failureThreshold: 2
  periodSeconds: 1
  timeoutSeconds: 1
  image:
    repository: arey/mysql-client
    tag: latest

# Related image configurations.
image:
  registry: docker.io

images:
  polardbx:
    pullPolicy: IfNotPresent
    # Repo of polardbx default images. Default is polardbx.

    # Images for xstore(DN) tools updater.
    toolsUpdater:
      repository: polardbx/xstore-tools
      tag: v1.5.0

    # Image for DN engine
    dn:
      repository: polardbx/polardbx-engine-2.0
      tag: 80-8.0.18-20231101115000

    # Image for CN engine
    cn:
      repository: polardbx/polardbx-sql
      tag: 5.4.18-20231101115000

    # Image for CN initialization
    init:
      repository: polardbx/polardbx-init
      tag: v1.5.0

    # Image for CN engine
    cdc:
      repository: polardbx/polardbx-cdc
      tag: 5.4.18-20231101115000

    # Image for CN&CDC exporter
    exporter:
      repository: polardbx/polardbx-exporter
      tag: v1.5.0

  # Tool image settings for gms initialization
  mysql:
    repository: mysql
    pullPolicy: IfNotPresent
    tag: "8.0.30"

  # Images for DN exporter
  prom:
    pullPolicy: IfNotPresent
    mysqld_exporter:
      repository: prom/mysqld-exporter
      tag: v0.14.0


# Commit related information
# @param commitInfo - (object) Contains metadata about the last code commit.
commitInfo:
  # @param commitInfo.commitTime - (string) The timestamp of the last code commit, formatted as "YYYY-MM-DD HH:MM:SS".
  # This parameter is used to record the exact time of the most recent code commit.
  commitTime: "2024-12-03 07:19:49"

  # @param commitInfo.commitId - (string) The Git commit hash.
  # This parameter is used to track the specific Git commit identifier associated with the deployment.
  commitId: "35220521f961ff81e4e106dd4e928bdaca6f7ad1"
