
nameOverride: ""
fullnameOverride: ""

clusterDomain: ".cluster.local"

# volume backup
dataMountPath: /var/run/etcd
dataDir: /var/run/etcd/default.etcd

# tls mount path
tlsMountPath: /etc/pki/tls

# If specified, the component definition will use it as prefix.
cmpdVersionPrefix:
  major3: "etcd-3"

# a copy version of /etc/etcd/etcd.conf but add some modification
tmpConfigPath: /var/run/etcd/etcd.conf

# These TLS settings are used to configure two kind of TLS for etcd
# They will only take effect when 'etcd-cluster.Values.tlsEnable' is set to true
tls:
  client: true
  peer: true

# define a threshold to check if backup total key is too low
# '6' is the initial count of key number for 1-replica etcd cluster
# consider increasing this value when dealing with production-grade etcd cluster
backupKeyThreshold: 6

image:
  registry: quay.io
  repository: coreos/etcd
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag:
    major3:
      # latest version build with busybox brinaries
      minor56: v3.5.6
      # latest version build with distroless(default)
      minor515: v3.5.15

# remain the same lib dir with the original etcd image
# used to inject bash to distroless etcd image
debianImage:
  # if the value of bashImage.registry is not specified using `--set`, it will be set to the value of 'image.registry' by default
  registry: apecloud-registry.cn-zhangjiakou.cr.aliyuncs.com
  repository: apecloud/debian
  pullPolicy: IfNotPresent
  # use static compile version
  tag: bullseye-20241016