# Default values for milvus.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""

fullnameOverride: ""

## @param application images
##
images:
  registry: docker.io
  pullPolicy: IfNotPresent
  minio:
    registry: ""
    repository: minio/minio
    tag: RELEASE.2022-03-17T06-34-49Z
  ostools:
    registry: ""
    repository: apecloud/os-shell
    tag: 11-debian-11-r90
  operator:
    registry: ""
    repository: milvusdb/milvus-operator
  milvus:
    registry: ""
    repository: milvusdb/milvus
  milvusBackup:
    repository: milvusdb/milvus-backup

livenessProbe:
  enabled: true
  initialDelaySeconds: 15
  periodSeconds: 15
  timeoutSeconds: 10
  successThreshold: 1
  failureThreshold: 3

readinessProbe:
  enabled: true
  initialDelaySeconds: 15
  periodSeconds: 15
  timeoutSeconds: 3
  successThreshold: 1
  failureThreshold: 2

startupProbe:
  enabled: true
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 3
  successThreshold: 1
  failureThreshold: 18
