# Mac OS X files
.DS_Store

# editor and IDE paraphernalia
.vscode/
.idea/
.history/
.run/
.vimrc
*.swp
*.swo
*~

# helm dependency charts
addons/**/Chart.lock
addons/**/charts
addons-cluster/**/Chart.lock
addons-cluster/**/charts

# generated temp directory
temp
