apiVersion: v1
kind: ConfigMap
metadata:
  name: clickhouse-tpl
  labels:
  {{- include "clickhouse.labels" . | nindent 4 }}
data:
  00_default_overrides.xml: |
    {{- .Files.Get "configs/00_default_overrides.xml.tpl" | nindent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: clickhouse-user-tpl
  labels:
    {{- include "clickhouse.labels" . | nindent 4 }}
data:
  user.xml: |
    {{- .Files.Get "configs/user.xml.tpl" | nindent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: clickhouse-keeper-tpl
  labels:
    {{- include "clickhouse.labels" . | nindent 4 }}
data:
  ch-keeper_00_default_overrides.xml: |
    {{- .Files.Get "configs/ch-keeper_00_default_overrides.xml.tpl" | nindent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: clickhouse-client-tpl
  labels:
    {{- include "clickhouse.labels" . | nindent 4 }}
data:
  config.xml: |
    {{- .Files.Get "configs/client.xml.tpl" | nindent 4 }}