apiVersion: apps.kubeblocks.io/v1alpha1
kind: ConfigConstraint
metadata:
  name: halo-cc
  labels:
    {{- include "halo.labels" . | nindent 4 }}
spec:
  # top level pg configuration type
  cfgSchemaTopLevelName: PGParameter

  # ConfigurationSchema that impose restrictions on engine parameter's rule
  configurationSchema:
    # schema: auto generate from cue scripts
    # example: ../../pkg/configuration/testdata/mysql_openapi.json
    cue: |-
      {{- .Files.Get "config/halo-config-constraint.cue" | nindent 6 }}
    # configuration file format
  formatterConfig:
    format: properties
  
