# Default values for mysql-cluster.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

## @param version MySQL cluster version
##
version: mysql-8.0

## @param mode MySQL cluster topology mode, standalone, replication or raftGroup
##
mode: standalone

## @param replicas specify cluster replicas
##
replicas: 1

## @param cpu
##
cpu: 0.5

## @param memory, the unit is Gi
##
memory: 0.5

## @param requests.cpu if not set, use cpu
## @param requests.memory, if not set, use memory
##
requests:
#  cpu:
#  memory:

## @param storage size, the unit is Gi
##
storage: 20

topology: server
mysql:
  version: mysql-8.0

proxysql:
  enable: false
  replicas: 1
  cpu: 1
  memory: 1

## @param extra.rbacEnabled if true, create rbac
extra:
  rbacEnabled: true
  terminationPolicy: Delete

orchestrator:
  enable: false
  # monitor_password: proxysql
  # cluster_password: nb2wZpZ9OXXTF2Mv

  serviceReference:
    namespace: ""
    port: 80
    endpoint: "myorc-orchestrator"
  clusterServiceSelector:
    cluster: ""
    portName: "orc-http"


# Commit related information
# @param commitInfo - (object) Contains metadata about the last code commit.
commitInfo:
  # @param commitInfo.commitTime - (string) The timestamp of the last code commit, formatted as "YYYY-MM-DD HH:MM:SS".
  # This parameter is used to record the exact time of the most recent code commit.
  commitTime: "2024-12-03 07:20:38"

  # @param commitInfo.commitId - (string) The Git commit hash.
  # This parameter is used to track the specific Git commit identifier associated with the deployment.
  commitId: "192148f173e2a0a7e942b7d75c2050f9ee2d98fd"
