apiVersion: v1
kind: ConfigMap
metadata:
  name: custom-user-configuration-tpl
  namespace: demo
data:
  user.xml: |
    {{- $var_max_threads := "8" }}
    {{- if index . "max_threads" }}
    {{- $var_max_threads = $.max_threads }}
    {{- end }}

    <clickhouse>
      <!-- Settings profiles -->
      <profiles>
        <!-- Admin user settings -->
        <default>
          <!-- The maximum number of threads when running a single query, which is used for admin user -->
          <max_threads>{{ $var_max_threads }}</max_threads>
          <log_queries>1</log_queries>
          <log_queries_min_query_duration_ms>2000</log_queries_min_query_duration_ms>
        </default>
      </profiles>

      <!-- Users and roles -->
      <users>
        <!-- Admin user with full access -->
        <admin replace="replace">
          <password from_env="CLICKHOUSE_ADMIN_PASSWORD"/>
          <access_management>1</access_management>
          <named_collection_control>1</named_collection_control>
          <show_named_collections>1</show_named_collections>
          <show_named_collections_secrets>1</show_named_collections_secrets>

          <networks replace="replace">
            <ip>::/0</ip>
          </networks>

          <profile>default</profile>
          <quota>default</quota>
        </admin>
      </users>
    </clickhouse>
