## cluster settings for neon
version: latest
storageClassName: ""
terminationPolicy: Delete

useLegacyCompDef:  false

clusterVersionOverride: "neon-pg14-1.0.0"

compute:
  replicas: 1
  resources:
    requests:
      cpu: "500m"
      memory: "500Mi"
    limits:
      cpu: "1"
      memory: "2Gi"

storagebroker:
  replicas: 1
  resources:
    requests:
      cpu: "500m"
      memory: "500Mi"
    limits:
      cpu: "1"
      memory: "2Gi"
  dataStorage: "20Gi"

safekeeper:
  replicas: 3
  resources:
    requests:
      cpu: "500m"
      memory: "500Mi"
    limits:
      cpu: "1"
      memory: "2Gi"
  dataStorage: "20Gi"

pageserver:
  replicas: 1
  resources:
    requests:
      cpu: "500m"
      memory: "500Mi"
    limits:
      cpu: "1"
      memory: "2Gi"
  dataStorage: "20Gi"
