---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "apecloud-mysql.configTplName" . }}
  labels:
    {{- include "apecloud-mysql.labels" . | nindent 4 }}
data:
  my.cnf: |-
    {{- .Files.Get "config/mysql8-config.tpl" | nindent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "apecloud-mysql.configTplVtgateName" . }}
  labels:
    {{- include "apecloud-mysql.labels" . | nindent 4 }}
data:
  vtgate.cnf: |-
    {{- .Files.Get "config/mysql-scale-vtgate-config.tpl" | nindent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "apecloud-mysql.configTplVtconsensusName" . }}
  labels:
    {{- include "apecloud-mysql.labels" . | nindent 4 }}
data:
  vtconsensus.cnf: |-
    {{- .Files.Get "config/mysql-scale-vtconsensus-config.tpl" | nindent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "apecloud-mysql.configTplVttabletName" . }}
  labels:
    {{- include "apecloud-mysql.labels" . | nindent 4 }}
data:
  vttablet.cnf: |-
    {{- .Files.Get "config/mysql-scale-vttablet-config.tpl" | nindent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "apecloud-mysql.cmReloadScriptName" . }}
  labels:
    {{- include "apecloud-mysql.labels" . | nindent 4 }}
data:
  reload.tpl: |-
    {{- .Files.Get "config/mysql-reload.tpl" | nindent 4 }}
  reload.yaml: |-
    scripts: reload.tpl
    fileRegex: my.cnf
    dataType: mysql
    dsn: '{%- expandenv "${MYSQL_USER}:${MYSQL_PASSWORD}@(localhost:3306)/" | trim %}'
    formatterConfig:
      format: ini
      iniConfig:
        sectionName: mysqld
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "apecloud-mysql.configTplAuditLogName" . }}
  labels:
    {{- include "apecloud-mysql.labels" . | nindent 4 }}
data:
  my.cnf: |-
    {{- .Files.Get "config/mysql8-auditlog-config.tpl" | nindent 4 }}
---