# Default values for greptimedb.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""

fullnameOverride: ""

image:
  registry: docker.io
  # -- Neon database image repository
  repository: perconalab/neon
  # -- Overrides the image tag whose default is the chart appVersion.
  tag: "pg14-1.0.0"

defaultComponentServiceVersion: "pg14-1.0.0"

safekeeper:
  pgPort: 5454
  httpPort: 7676

pageserver:
  pgPort: 6400
  httpPort: 9898

storagebroker:
  port: 50051