# Default values for wesqlcluster.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

terminationPolicy: Delete

nameOverride: ""

fullnameOverride: ""

resources: { }
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.

  # limits:
  #   cpu: 500m
  #   memory: 2Gi
  # requests:
  #   cpu: 100m
  #   memory: 1Gi 
persistence:
  enabled: true
  data:
    storageClassName:
    size: 10Gi


serviceAccount:
  name:


# Commit related information
# @param commitInfo - (object) Contains metadata about the last code commit.
commitInfo:
  # @param commitInfo.commitTime - (string) The timestamp of the last code commit, formatted as "YYYY-MM-DD HH:MM:SS".
  # This parameter is used to record the exact time of the most recent code commit.
  commitTime: "2024-12-03 07:21:01"

  # @param commitInfo.commitId - (string) The Git commit hash.
  # This parameter is used to track the specific Git commit identifier associated with the deployment.
  commitId: "0e20da96544a4b2cd55f41f71bafcba71fabe191"
