apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mogdb.configTplName" . }}
  labels:
    {{- include "mogdb.labels" . | nindent 4 }}
data:
  postgresql.conf: |-
    {{- .Files.Get "config/mogdb-config.tpl" | nindent 4 }}
  # TODO: check if it should trust all
  pg_hba.conf: |
    local   all             all                                     trust
    host    all             all             127.0.0.1/32            trust
    host    all             all             ::1/128                 trust
