# Default values for greptimedb.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""

clusterDomain: ".cluster.local"

## @param application images
##
images:
  pullPolicy: IfNotPresent
  greptimedb:
    registry: docker.io
    repository: greptime/greptimedb
    tag: 0.3.2

## @param metasrv config
##
meta:
  disableRegionFailover: true
