nebula:
  ## @param nebula.version, version of nebula-graph
  ## more info: check https://docs.nebula-graph.io/ for latest and LTS versions
  version: v3.5.0
  graphd:
    ## @param nebula.graphd.image, container image settings
    image:
      registry: apecloud-registry.cn-zhangjiakou.cr.aliyuncs.com
      repository: apecloud/nebula-graphd
      tag: v3.5.0
      pullPolicy: IfNotPresent
  metad:
    ## @param nebula.metad.image, container image settings
    image:
      registry: apecloud-registry.cn-zhangjiakou.cr.aliyuncs.com
      repository: apecloud/nebula-metad
      tag: v3.5.0
      pullPolicy: IfNotPresent
  storaged:
    ## @param nebula.storaged.image, container image settings
    image:
      registry: apecloud-registry.cn-zhangjiakou.cr.aliyuncs.com
      repository: apecloud/nebula-storaged
      tag: v3.5.0
      pullPolicy: IfNotPresent
  console:
    ## @param nebula.console.image, container image settings
    image:
      registry: apecloud-registry.cn-zhangjiakou.cr.aliyuncs.com
      repository: apecloud/nebula-console
      tag: v3.5.0
      pullPolicy: IfNotPresent

clusterDomain: ".cluster.local"