nebula:
  ## @param nebula.version, version of nebula-graph
  ## more info: check https://docs.nebula-graph.io/ for latest and LTS versions
  defaultVersion: v3.8.0
  versions:
    - v3.8.0
    - v3.5.0
images:
  registry: docker.io
  pullPolicy: IfNotPresent
  nebula:
    tool: apecloud/nebula-tool:1.0.0
    ## @param images.nebula.graphd, container image settings
    graphd:
      # if the value of images.nebula.graphd.registry is not specified using `--set`, it will be set to the value of 'images.registry' by default
      registry: ""
      repository: vesoft/nebula-graphd
      tag: v3.8.0
    ## @param images.nebula.metad, container image settings
    metad:
      # if the value of images.nebula.metad.registry is not specified using `--set`, it will be set to the value of 'images.registry' by default
      registry: ""
      repository: vesoft/nebula-metad
      tag: v3.8.0
    ## @param images.nebula.storaged, container image settings
    storaged:
      # if the value of images.nebula.storaged.registry is not specified using `--set`, it will be set to the value of 'images.registry' by default
      registry: ""
      repository: vesoft/nebula-storaged
      tag: v3.8.0
    ## @param images.nebula.console, container image settings
    console:
      # if the value of images.nebula.console.registry is not specified using `--set`, it will be set to the value of 'images.registry' by default
      registry: ""
      repository: vesoft/nebula-console
      tag: v3.8.0

clusterDomain: "cluster.local"