apiVersion: parameters.kubeblocks.io/v1alpha1
kind: ParamConfigRenderer
metadata:
  name: {{ include "pulsar2.zookeeperPCRName" . }}
  labels:
    {{- include "pulsar.labels" . | nindent 4 }}
  annotations:
    {{- include "pulsar.annotations" . | nindent 4 }}
spec:
  componentDef: {{ include "pulsar2.zookeeperCmpdName" . }}

  configs:
    - name: zookeeper.conf
      fileFormatConfig:
        format: props-plus
    - name: pulsar.env
      fileFormatConfig:
        format: dotenv
      reRenderResourceTypes:
        - vscale