apiVersion: parameters.kubeblocks.io/v1alpha1
kind: ParamConfigRenderer
metadata:
  name: {{ include "pulsar4.bkrecoveryPCRName" . }}
  labels:
    {{- include "pulsar.labels" . | nindent 4 }}
  annotations:
    {{- include "pulsar.annotations" . | nindent 4 }}
spec:
  componentDef: {{ include "pulsar4.bkRecoveryCmpdName" . }}

  configs:
    - name: pulsar.env
      fileFormatConfig:
        format: dotenv
      reRenderResourceTypes:
        - vscale