## @param version StarRocks cluster version
##
version: 3.3.0

## @param replicas specify cluster replicas
##
replicas: 1

## @param cpu
##
cpu: 1

## @param memory, the unit is Gi
##
memory: 1

## @param storage size, the unit is Gi
##
storage: 20

beReplicas: 1
beCPU: 1
beMemory: 1
beStorage: 20

nameOverride: ""

fullnameOverride: ""


# Commit related information
# @param commitInfo - (object) Contains metadata about the last code commit.
commitInfo:
  # @param commitInfo.commitTime - (string) The timestamp of the last code commit, formatted as "YYYY-MM-DD HH:MM:SS".
  # This parameter is used to record the exact time of the most recent code commit.
  commitTime: "2024-12-03 07:19:49"

  # @param commitInfo.commitId - (string) The Git commit hash.
  # This parameter is used to track the specific Git commit identifier associated with the deployment.
  commitId: "35220521f961ff81e4e106dd4e928bdaca6f7ad1"
