# Default values for clickhouse.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""

logConfigs: {}

image:
  registry: docker.io
  repository: apecloud/clickhouse
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag:
    major25: 25.9.7
    major24: 24.8.3-debian-12-r1
    major22: 22.9.4-debian-11-r1

clickhouseVersions:
  - version: 25.9.7
    imageTag: 25.9.7
  - version: 25.4.4
    imageTag: 25.4.4-debian-12-r1
  - version: 24.8.3
    imageTag: 24.8.3-debian-12-r1
  - version: 22.9.4
    imageTag: 22.9.4-debian-11-r1
  - version: 22.6.1
    imageTag: 22.6.1
  - version: 22.3.20
    imageTag: 22.3.20
  - version: 22.3.18
    imageTag: 22.3.18-debian-11-r3

roleProbe:
  initialDelaySeconds: 15
  failureThreshold: 3
  periodSeconds: 3
  timeoutSeconds: 3

busyboxImage:
  registry: ""
  repository: apecloud/bash-busybox
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: 1.37.0-musl-curl

backupImage:
  registry: ""
  repository: apecloud/clickhouse-backup-full
  pullPolicy: IfNotPresent
  tag: 2.6.42

restore:
  schemaReadyTimeoutSeconds: 1800
  schemaReadyCheckIntervalSeconds: 5
