# Default values for orchestrator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  registry: docker.io
  repository: apecloud/orchestrator
  pullPolicy: IfNotPresent
  tag: v3.2.6

nameOverride: ""
fullnameOverride: ""

## @param compDefinitionVersionSuffix for all ComponentDefinition resources name created by this chart, that can avoid name conflict
## if you install multiple releases of this chart.
## If specified, the component definition will use it as name.
compDefinitionVersionSuffix: ""


config:
  dataDir: /data