apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "tidb.cmScriptsName" . }}
  annotations:
    {{- include "tidb.annotations" . | nindent 4}}
  labels:
    {{- include "tidb.labels" . | nindent 4 }}
data:
  {{- range $path, $_ :=  $.Files.Glob "scripts/**" }}
  {{ $path | base }}: |-
  {{- $.Files.Get $path | nindent 4 }}
  {{- end }}
