# Default values for zookeeper.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""

fullnameOverride: ""

## @param supported versions with detailed information
versions:
  - major: "3"
    componentDef: "^zookeeper-"
    minors:
      # [version, serviceVersion, tag, deprecated]
      - ["3.9.4", "3.9.4", "3.9.4", false]
      - ["3.9.2", "3.9.2", "3.9.2", false]
      - ["3.8.4", "3.8.4", "3.8.4", false]
      - ["3.7.2", "3.7.2", "3.7.2", false]
      - ["3.6.4", "3.6.4", "3.6.4", false]
      - ["3.4.14", "3.4.14", "3.4.14", false]

images:
  registry: docker.io
  repository: apecloud/zookeeper
  pullPolicy: IfNotPresent
  tag: 3.7.2

# refer: addons/zookeeper/zoocreeper/Dockerfile
zoocreeperImage:
  repository: apecloud/zoocreeper
  tag: 1.0.1

metrics:
  enabled: true
  port: 7000

zookeeper:
  dataDir: /bitnami/zookeeper/data
  dataLogDir: /bitnami/zookeeper/log
  dynamicConfigDir: /opt/bitnami/zookeeper/dynamic

extra:
  terminationPolicy: Delete