## cluster settings for neon
version: 1.0.0

storageClassName: ""

terminationPolicy: Delete

useLegacyCompDef: false

compute:
  replicas: 1
  resources:
    requests:
      cpu: "500m"
      memory: "500Mi"
    limits:
      cpu: "1"
      memory: "2Gi"

storagebroker:
  replicas: 1
  resources:
    requests:
      cpu: "500m"
      memory: "500Mi"
    limits:
      cpu: "1"
      memory: "2Gi"
  dataStorage: "20Gi"

safekeeper:
  replicas: 3
  resources:
    requests:
      cpu: "500m"
      memory: "500Mi"
    limits:
      cpu: "1"
      memory: "2Gi"
  dataStorage: "20Gi"

pageserver:
  replicas: 1
  resources:
    requests:
      cpu: "500m"
      memory: "500Mi"
    limits:
      cpu: "1"
      memory: "2Gi"
  dataStorage: "20Gi"
