# Default values for starrocks.
# This is a YAML-formatted file.

nameOverride: ""
fullnameOverride: ""
clusterVersionOverride: ""

timezone: Asia/Shanghai

image:
  registry: docker.io
  pullPolicy: IfNotPresent
  fe:
    repository: starrocks/fe-ubuntu
  be:
    repository: starrocks/be-ubuntu

fe:
  config: |
    LOG_DIR = ${STARROCKS_HOME}/log
    DATE = "$(date +%Y%m%d-%H%M%S)"
    JAVA_OPTS="-Dlog4j2.formatMsgNoLookups=true -Xmx8192m -XX:+UseMembar -XX:SurvivorRatio=8 -XX:MaxTenuringThreshold=7 -XX:+PrintGCDateStamps -XX:+PrintGCDetails -XX:+UseConcMarkSweepGC -XX:+UseParNewGC -XX:+CMSClassUnloadingEnabled -XX:-CMSParallelRemarkEnabled -XX:CMSInitiatingOccupancyFraction=80 -XX:SoftRefLRUPolicyMSPerMB=0 -Xloggc:${LOG_DIR}/fe.gc.log.$DATE"
    JAVA_OPTS_FOR_JDK_9="-Dlog4j2.formatMsgNoLookups=true -Xmx8192m -XX:SurvivorRatio=8 -XX:MaxTenuringThreshold=7 -XX:+CMSClassUnloadingEnabled -XX:-CMSParallelRemarkEnabled -XX:CMSInitiatingOccupancyFraction=80 -XX:SoftRefLRUPolicyMSPerMB=0 -Xlog:gc*:${LOG_DIR}/fe.gc.log.$DATE:time"
    http_port = 8030
    rpc_port = 9020
    query_port = 9030
    edit_log_port = 9010
    mysql_service_nio_enabled = true
    sys_log_level = INFO

  queryPort: 9030
  probe:
    # failureThreshold will be set in the helm template
    httpGet:
      path: /api/health
      port: 8030
      scheme: HTTP
    periodSeconds: 5
    successThreshold: 1
    timeoutSeconds: 1

be:
  config: |
    be_port = 9060
    webserver_port = 8040
    heartbeat_service_port = 9050
    brpc_port = 8060
    sys_log_level = INFO
    default_rowset_type = beta
    starlet_use_star_cache = true
  probe:
    # failureThreshold will be set in the helm template
    httpGet:
      path: /api/health
      port: 8040
      scheme: HTTP
    periodSeconds: 5
    successThreshold: 1
    timeoutSeconds: 1

## @param compDefinitionVersionSuffix for all ComponentDefinition resources name created by this chart, that can avoid name conflict
## if you install multiple releases of this chart.
## If specified, the component definition will use it as name.
compDefinitionVersionSuffix: ""


# Commit related information
# @param commitInfo - (object) Contains metadata about the last code commit.
commitInfo:
  # @param commitInfo.commitTime - (string) The timestamp of the last code commit, formatted as "YYYY-MM-DD HH:MM:SS".
  # This parameter is used to record the exact time of the most recent code commit.
  commitTime: "2024-12-03 07:20:14"

  # @param commitInfo.commitId - (string) The Git commit hash.
  # This parameter is used to track the specific Git commit identifier associated with the deployment.
  commitId: "1ee46c6a2d4adc7e32d459c637d1568162b1345d"
