apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "etcd3.scriptsTemplate" . }}
  labels:
    {{- include "etcd.labels" . | nindent 4 }}
  annotations:
    {{- include "etcd.annotations" . | nindent 4 }}
data:
  kb-common.sh: |-
    #!/bin/bash
    {{- include "kblib.commons.call_func_with_retry" $ | nindent 4 }}
    {{- include "kblib.compvars.get_target_pod_fqdn_from_pod_fqdn_vars" $ | nindent 4 }}
    {{- include "kblib.strings.is_empty" $ | nindent 4 }}
  {{- with include "etcd.extend.scripts" . }}
  {{- . | nindent 2 }}
  {{- end }}