apiVersion: v1
kind: ConfigMap
metadata:
  name: rabbitmq-config-template
  labels:
    {{- include "rabbitmq.labels" . | nindent 4 }}
data:
  rabbitmq.conf: |-
    {{- .Files.Get "config/rabbitmq-config.tpl" | nindent 4 }}
  .erlang.cookie: |-
    {{- .Files.Get "config/erlang.cookie.tpl" | nindent 4 }}
---

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "rabbitmq.name" . }}-env-tpl
  labels:
    {{- include "rabbitmq.labels" . | nindent 4 }}
data:
  env: |-
    {{- .Files.Get "config/rabbitmq-env.tpl" | nindent 4 }}
