# Default values for elasticsearch.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""

fullnameOverride: ""

image:
  # bitnami/elasticsearch
  # docker pull bitnami/elasticsearch
  registry: docker.io
  repository: elasticsearch
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "8.8.2"
  exporter:
    repository: prometheuscommunity/elasticsearch-exporter
    tag: "v1.7.0"
  # refer: addons/elasticsearch/plugins/Dockerfile
  plugin:
    repository: apecloud/elasticsearch-plugins
    tag: "8.8.2"
  tools:
    repository: apecloud/curl-jq
    tag: 0.1.0

exporter:
  service:
    port: 9114