# Default values for mongodb.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  registry: docker.io
  repository: apecloud/percona-server-mongodb
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: 8.0.17
  percona:
    backup:
      repository: apecloud/percona-backup-mongodb
      tag: 2.9.1
  kubectl:
    repository: apecloud/kubectl
    tag: 1.29
  syncer:
    repository: apecloud/syncer
    tag: "0.6.7"
  exporter:
    repository: apecloud/mongodb_exporter
    tag: "0.44.0"
  walgImage:
    repository: apecloud/wal-g-mongo
    tag: 3.0.0

## @param supported versions with detailed information
versions:
  - major: "8"
    componentDef: "^mongodb-"
    minors:
      # [version, serviceVersion, tag, pbm tag, deprecated]
      - ["8.0.17", "8.0.17", "8.0.17", "2.12.0", false]
      - ["8.0.8", "8.0.8", "8.0.8", "2.12.0", true]
      - ["8.0.6", "8.0.6", "8.0.6", "2.12.0", true]
      - ["8.0.4", "8.0.4", "8.0.4", "2.12.0", true]
  - major: "7"
    componentDef: "^mongodb-"
    minors:
      - ["7.0.28", "7.0.28", "7.0.28", "2.12.0", false]
      - ["7.0.19", "7.0.19", "7.0.19", "2.12.0", true]
      - ["7.0.18", "7.0.18", "7.0.18", "2.12.0", true]
      - ["7.0.16", "7.0.16", "7.0.16", "2.12.0", true]
      - ["7.0.12", "7.0.12", "7.0.12", "2.12.0", true]
  - major: "6"
    componentDef: "^mongodb-"
    minors:
      - ["6.0.27", "6.0.27", "6.0.27", "2.10.0", false]
      - ["6.0.22", "6.0.22", "6.0.22", "2.10.0", true]
      - ["6.0.21", "6.0.21", "6.0.21", "2.10.0", true]
      - ["6.0.20", "6.0.20", "6.0.20", "2.10.0", true]
      - ["6.0.16", "6.0.16", "6.0.16", "2.10.0", true]
  - major: "5"
    componentDef: "^mongodb-"
    minors:
      - ["5.0.29", "5.0.29", "5.0.29-multi", "2.5.0-multi", false]
      - ["5.0.28", "5.0.28", "5.0.28", "2.5.0-multi", true]
  - major: "4"
    componentDef: "^mongodb-"
    minors:
      - ["4.4.29", "4.4.29", "4.4.29-multi", "2.5.0-multi", false]
      - ["4.2.25", "4.2.25", "4.2.25", "2.5.0-multi", true]
      - ["4.2.24", "4.2.24", "4.2.24", "2.5.0-multi", true]
      - ["4.0.28", "4.0.28", "4.0.28", "2.5.0-multi", true]

nameOverride: ""
fullnameOverride: ""

roleProbe:
  failureThreshold: 3
  periodSeconds: 2
  timeoutSeconds: 2

## Authentication parameters
##
auth:
  ## @param auth.password Password for the "mongodb" admin user, leave empty
  ## for random generated password.
  ##
  password:
  ## @param auth.database Name for a custom database to create
  ##
  database: "admin"

logConfigs:
  running: /data/mongodb/logs/mongodb.log*

logCollector:
  enabled: false

dataMountPath: /data/mongodb

## @param resourceNamePrefix Prefix for all resources name created by this chart, that can avoid name conflict
## if you install multiple releases of this chart.
## If specified, the cluster definition will use it as name.
resourceNamePrefix: ""

## @param cmpdVersionPrefix for each ComponentDefinition resources name created by this chart, that can avoid name conflict
## If specified, the component definition will use it as prefix.
cmpdVersionPrefix: ""

clusterDomain: "cluster.local"

rediectSuffix: ">&2"