# Default values for mongodb.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  registry: docker.io
  repository: apecloud/percona-server-mongodb
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: 5.0.29 # 6.0.3-debian-11-r0
  syncer:
    repository: apecloud/syncer
    tag: 0.6.7
  percona:
    repository: apecloud/percona-server-mongodb
    tag: 8.0.8
    backup:
      repository: apecloud/percona-backup-mongodb
      tag: 2.9.1
  kubectl:
    repository: apecloud/kubectl
    tag: 1.29
  exporter:
    repository: apecloud/mongodb_exporter
    tag: "0.44.0"
  walg:
    repository: apecloud/wal-g-mongo
    tag: 3.0.0

clusterVersionOverride: ""
nameOverride: ""
fullnameOverride: ""

roleProbe:
  failureThreshold: 3
  periodSeconds: 2
  timeoutSeconds: 2

## Authentication parameters
##
auth:
  ## @param auth.password Password for the "mongodb" admin user, leave empty
  ## for random generated password.
  ##
  password:
  ## @param auth.database Name for a custom database to create
  ##
  database: "admin"

logConfigs:
  running: /data/mongodb/logs/mongodb.log*

logCollector:
  enabled: false

dataMountPath: /data/mongodb

## @param resourceNamePrefix Prefix for all resources name created by this chart, that can avoid name conflict
## if you install multiple releases of this chart.
## If specified, the cluster definition will use it as name.
resourceNamePrefix: ""

useHostNetwork: false

clusterDomain: "cluster.local"
