# Override the name of the chart
nameOverride: ""
# Override the full name of the chart
fullnameOverride: ""

## ClickHouse cluster topology mode defined in ClusterDefinition.Spec.topologies, support standalone and cluster
## - `standalone`: single clickhouse instance
## - `cluster`: clickhouse with ClickHouse Keeper as coordinator
mode: cluster

## Sharding configuration
shardCount: 1
sharding:
  enabled: false

## ClickHouse per shard component configurations
cpu: 0.5
memory: 1

## CPU and memory requests for the ClickHouse shard
requests:
# cpu: ""
# memory: ""

storageClassName:
storage: 10
disableExporter: false

## Number of ClickHouse replicas per shard to deploy
replicaCount: 2

## Tolerations for ClickHouse pods assignment
## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
tolerations: []

## ClickHouse Keeper configuration
keeper:
  ## Number of ClickHouse Keeper replicas
  replicaCount: 1
  storageClassName:
  cpu: 0.5
  memory: 1
  storage: 10
  tolerations: []

## Service configurations
service:
  ## ClickHouse service type
  ## Valid options are ExternalName, ClusterIP, NodePort, and LoadBalancer.
  ## ref: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
  type: ClusterIP

## The RBAC permission used by cluster component pod, now include event.create
serviceAccount:
  name: ""

## TLS configuration for ClickHouse cluster
tls:
  enabled: false
  ## KubeBlocks or UserProvided
  issuer: UserProvided
  ## If issuer is UserProvided, will automatically generate TLS file by cluster-tls-secrets.yaml
  secretName: clickhouse-cluster-tls

extra:
  ## Define Cluster termination policy.
  ## Options: DoNotTerminate, Halt, Delete, WipeOut.
  terminationPolicy: DoNotTerminate

  ## If true, RBAC resources will be created
  rbacEnabled: false