## @param version ElasticSearch service version
##
version: "8.8.2"

## @param mode ElasticSearch cluster topology mode, single-node or multi-node
##
mode: multi-node

## @param replicas specify cluster replicas
##
replicas: 1

## @param cpu
##
cpu: 1

## @param memory, the unit is Gi
##
memory: 2

## @param storage size, the unit is Gi
##
storage: 20

nameOverride: ""

fullnameOverride: ""

## customized default values to override kblib chart's values
extra:
  terminationPolicy: Delete
  rbacEnabled: true
  disableExporter: false


# Commit related information
# @param commitInfo - (object) Contains metadata about the last code commit.
commitInfo:
  # @param commitInfo.commitTime - (string) The timestamp of the last code commit, formatted as "YYYY-MM-DD HH:MM:SS".
  # This parameter is used to record the exact time of the most recent code commit.
  commitTime: "2024-12-03 07:20:38"

  # @param commitInfo.commitId - (string) The Git commit hash.
  # This parameter is used to track the specific Git commit identifier associated with the deployment.
  commitId: "192148f173e2a0a7e942b7d75c2050f9ee2d98fd"
