## @param version ElasticSearch service version
##
version: "8.8.2"

## @param topology ElasticSearch cluster topology, single-node or multi-node
##
topology: multi-node

## @param replicas specify cluster replicas
##
replicas: 1

## @param cpu
##
cpu: 1

## @param memory, the unit is Gi
##
memory: 2

## @param storage size, the unit is Gi
##
storage: 20

nameOverride: ""

fullnameOverride: ""

## customized default values to override kblib chart's values
extra:
  podAntiAffinity: Required
  terminationPolicy: Delete
  rbacEnabled: true
  disableExporter: false
