etcd:
  endpoints:
    - {{ .ETCD_ENDPOINT }}
  rootPath: {{ .CLUSTER_NAME }}
messageQueue: pulsar
minio:
  address: {{ .MINIO_HOST }}
  port: {{ .MINIO_PORT }}
  {{- if eq .MINIO_PORT "443" }}
  useSSL: true
  {{- else }}
  useSSL: false
  {{- end }}
  accessKeyID: MINIO_ACCESS_KEY
  secretAccessKey: MINIO_SECRET_KEY
  bucketName: {{ .minio_bucket }}
  rootPath: {{ .minio_root_path }}
  {{- if eq .minio_use_path_style "true" }}
  cloudProvider: aws
  {{- else }}
  cloudProvider: aliyun
  {{- end }}
mq:
  type: {{ .mq_type }}
msgChannel:
  chanNamePrefix:
    cluster: {{ .CLUSTER_NAME }}
{{- if eq .mq_type "pulsar" }}
pulsar:
  address: {{ .LOG_SERVICE_SERVER }}
  port: {{ .LOG_SERVICE_PORT }}
{{- else if eq .mq_type "kafka" }}
kafka:
  brokerList: {{ .LOG_SERVICE_PORT }}
{{- end }}
