apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "zookeeper.configTplName" . }}
  labels:
    {{- include "zookeeper.labels" . | nindent 4 }}
data:
  zoo.cfg: |-
    {{- .Files.Get "config/zookeeper-config.tpl" | nindent 4 }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "zookeeper.logConfigTplName" . }}
  labels:
    {{- include "zookeeper.labels" . | nindent 4 }}
data:
  logback.xml: |-
    {{- .Files.Get "config/logback.xml" | nindent 4 }}
  log4j.properties: |-
    {{- .Files.Get "config/log4j.properties" | nindent 4 }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "zookeeper.dynamicConfigTplName" . }}
  labels:
    {{- include "zookeeper.labels" . | nindent 4 }}
data:
  zoo.cfg.dynamic: |-
    {{- .Files.Get "config/zookeeper-dynamic.tpl" | nindent 4 }}
