# Default values for zookeeper-cluster.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

## @param version cluster version
##
version: 3.9.2

extra:
  terminationPolicy: Delete

## @param replicas specify cluster replicas
##
replicas: 3

## @param cpu
##
cpu: 1

## @param memory, the unit is Gi
##
memory: 2

## @param requests.cpu if not set, use cpu
## @param requests.memory, if not set, use memory
##
#requests:
#  cpu: 1
#  memory: 1

## @param storage, the unit is Gi
storage: 10

## @param log storage, the unit is Gi
logStorage: 2


# Commit related information
# @param commitInfo - (object) Contains metadata about the last code commit.
commitInfo:
  # @param commitInfo.commitTime - (string) The timestamp of the last code commit, formatted as "YYYY-MM-DD HH:MM:SS".
  # This parameter is used to record the exact time of the most recent code commit.
  commitTime: "2024-12-03 07:19:49"

  # @param commitInfo.commitId - (string) The Git commit hash.
  # This parameter is used to track the specific Git commit identifier associated with the deployment.
  commitId: "35220521f961ff81e4e106dd4e928bdaca6f7ad1"
