# Default values for zookeeper-cluster.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

terminationPolicy: Delete

## @param replicas specify cluster replicas
##
replicas: 3

## @param cpu
##
cpu: 1

## @param memory, the unit is Gi
##
memory: 2

## @param requests.cpu if not set, use cpu
## @param requests.memory, if not set, use memory
##
#requests:
#  cpu: 1
#  memory: 1


storage: 10

log: 2