# Default values for victoria-metrics.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
images:
  vmsingle:
    repository: victoriametrics/victoria-metrics
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: "v1.100.1"
  vminsert:
    repository: victoriametrics/vminsert
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: "v1.100.1-cluster"
  vmselect:
    repository: victoriametrics/vmselect
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: "v1.100.1-cluster"
  vmstorage:
    repository: victoriametrics/vmstorage
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: "v1.100.1-cluster"

nameOverride: ""
fullnameOverride: ""
clusterVersionOverride: ""