# Default values for victoria-metrics-cluster.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""

## @param storageClassName, storage class name
##
storageClassName: ""
## @param terminationPolicy, temination policy for victoria-metrics-cluster
##
terminationPolicy: "Delete"

## @param replicas specify cluster replicas
##
replicas: 1

## @param cpu
##
cpu: 0.5

## @param memory, the unit is Gi
##
memory: 0.5

requests:
#  cpu:
#  memory:

## @param storage size, the unit is Gi
##
storage: 20

retentionPeriod: 30d

## @param vminsert configs
##
vminsert:
  replicas: 1
  resources: {}

## @param vmselect configs
##
vmselect:
  replicas: 1
  resources: {}

# Commit related information
# @param commitInfo - (object) Contains metadata about the last code commit.
commitInfo:
  # @param commitInfo.commitTime - (string) The timestamp of the last code commit, formatted as "YYYY-MM-DD HH:MM:SS".
  # This parameter is used to record the exact time of the most recent code commit.
  commitTime: "2024-12-03 07:20:14"

  # @param commitInfo.commitId - (string) The Git commit hash.
  # This parameter is used to track the specific Git commit identifier associated with the deployment.
  commitId: "1ee46c6a2d4adc7e32d459c637d1568162b1345d"
