# Default values for mogdb.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  registry: swr.cn-north-4.myhuaweicloud.com
  repository: mogdb/mogdb
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: 5.0.5

tools:
  # refer: https://github.com/apecloud/kubeblocks/blob/main/docker/Dockerfile-tools
  image:
    registry: docker.io
    repository: apecloud/kubeblocks-tools
    tag: 0.8.2
    pullPolicy: IfNotPresent

dataMountPath: /var/lib/mogdb


shmVolume:
  ## @param shmVolume.enabled Enable emptyDir volume for /dev/shm for PostgreSQL pod(s)
  ##
  enabled: true
  ## @param shmVolume.sizeLimit Set this to enable a size limit on the shm tmpfs
  ## Note: the size of the tmpfs counts against container's memory limit
  ## e.g:
  ## sizeLimit: 1Gi
  ##
  sizeLimit: ""

logConfigs:
  running: /var/lib/mogdb/data/pg_log/postgresql-*


## @section Metrics Parameters
metrics:
  ## @param metrics.image.registry PostgreSQL Prometheus Exporter image registry
  ## @param metrics.image.repository PostgreSQL Prometheus Exporter image repository
  ## @param metrics.image.tag PostgreSQL Prometheus Exporter image tag (immutable tags are recommended)
  ## @param metrics.image.digest PostgreSQL image digest in the way sha256:aa.... Please note this parameter, if set, will override the tag
  ## @param metrics.image.pullPolicy PostgreSQL Prometheus Exporter image pull policy
  ## @param metrics.image.pullSecrets Specify image pull secrets
  ##
  image:
    # if the value of metrics.image.registry is not specified using `--set`, it will be set to the value of 'image.registry' by default
    registry: ""
    repository: mogdb-cloud/mogdb-exporter
    tag: 3.1.0
    pullPolicy: IfNotPresent
  service:
    port: 9187