# Default values for oceanbase.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

images:
  registry: docker.io
  pullPolicy: IfNotPresent
  observer:
    repository: apecloud/oceanbase
    tag: 4.2.0.0-100010032023083021
  metrics:
    repository: apecloud/obagent
    tag: 4.2.1-100000092023101717
  obtools:
      repository: apecloud/obtools
      tag: 4.2.0


nameOverride: ""
fullnameOverride: ""
clusterVersionOverride: "4.2.0.0-100010032023083021"
