# Default values for oceanbase.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

images:
  registry: docker.io
  pullPolicy: IfNotPresent
  observer:
    repository: apecloud/oceanbase
    tag: 4.3.0.1-100000242024032211
  metrics:
    repository: apecloud/obagent
    tag: 4.2.1-100000092023101717
  obtools:
      repository: apecloud/obtools
      tag: 4.2.1


roleProbe:
  failureThreshold: 3
  periodSeconds: 2
  timeoutSeconds: 2

nameOverride: ""
fullnameOverride: ""
clusterVersionOverride: "4.3.0.1-100000242024032211"
