# Default values for apecloud-postgresql.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  registry: docker.io
  repository: apecloud/apecloud-postgres
  tag: "14.11-0.7.3"
  digest: ""
  pullPolicy: IfNotPresent
  pullSecrets: [ ]
  debug: false
  syncer:
    repository: apecloud/syncer
    tag: "latest"

clusterVersionOverride: ""

dataMountPath: /postgresql/volume_data
confMountPath: /postgresql/mount_conf

dataPath: /postgresql/volume_data/pgconsensus_data
# confPath is the same as the dataPath because the postgresql.conf and
# pg_hba.conf files will be copied to the PGDATA directory,
# When the POSTGRESQL_MOUNTED_CONF_DIR environment variable is set.
confPath: /postgresql/volume_data/pgconsensus_data

roleProbe:
  failureThreshold: 2
  periodSeconds: 1
  timeoutSeconds: 1

## Set PostgreSQL preload extension shared libraries.
## @param postgresqlSharedPreloadLibraries Shared preload libraries (comma-separated list)
##
postgresqlSharedPreloadLibraries: "pg_stat_statements, auto_explain"
## Start PostgreSQL pod(s) without limitations on shm memory.
## By default, docker and containerd (and possibly other container runtimes) limit `/dev/shm` to `64M`
##
shmVolume:
  ## @param shmVolume.enabled Enable emptyDir volume for /dev/shm for PostgreSQL pod(s)
  ##
  enabled: true
  ## @param shmVolume.sizeLimit Set this to enable a size limit on the shm tmpfs
  ## Note: the size of the tmpfs counts against container's memory limit
  ## e.g:
  ## sizeLimit: 1Gi
  ##
  sizeLimit: ""