# Default values for redis.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  # refer: https://redis.io/docs/stack/
  # Redis Stack Server, which combines open source Redis with RediSearch, RedisJSON, RedisGraph, RedisTimeSeries, and RedisBloom,
  # is dual-licensed under the Redis Source Available License (RSALv2), as described below, and the Server Side Public License (SSPL)
  # For information about licensing per version, see https://redis.io/docs/stack/license/
  registry: apecloud-registry.cn-zhangjiakou.cr.aliyuncs.com
  repository: apecloud/redis-stack-server
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: 7.0.6-RC8

redisTwemproxyImage:
  registry: docker.io
  repository: malexer/twemproxy
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: 0.5.0

busyboxImage:
  registry: docker.io
  repository: busybox
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: 1.36

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
clusterVersionOverride: ""
dataMountPath: /data

logConfigs:
  running: /data/running.log

metrics:
  image:
    # if the value of metrics.image.registry is not specified using `--set`, it will be set to the value of 'image.registry' by default
    registry: ""
    repository: apecloud/agamotto
    tag: 0.1.2-beta.1
    pullPolicy: IfNotPresent
  service:
    port: 9121

## @param compDefinitionVersionSuffix for all ComponentDefinition resources name created by this chart, that can avoid name conflict
## if you install multiple releases of this chart.
## If specified, the component definition will use it as name.
compDefinitionVersionSuffix: ""