# Default values for redis.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

## @param compDefinitionVersion for each ComponentDefinition resources name created by this chart, that can avoid name conflict
## if you install multiple releases of this chart.
## If specified, the component definition will use it as suffix.
compDefinitionVersion:
  redis: "7"
  sentinel: "7"
  redisCluster: "7"
  twemproxy: "0.5"

## @param componentServiceVersion define default serviceVersion of each Component
componentServiceVersion:
  redis: "7.2.4"
  sentinel: "7.2.4"
  redisCluster: "7.2.4"
  twemproxy: "0.5.0"

image:
  # refer: https://redis.io/docs/stack/
  # Redis Stack Server, which combines open source Redis with RediSearch, RedisJSON, RedisGraph, RedisTimeSeries, and RedisBloom,
  # is dual-licensed under the Redis Source Available License (RSALv2), as described below, and the Server Side Public License (SSPL)
  # For information about licensing per version, see https://redis.io/docs/stack/license/
  registry: docker.io
  repository: redis/redis-stack-server
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag:
    major7:
      minor70: 7.0.6-RC4
      minor72: 7.2.0-v10
  apeDts:
    registry: ""
    repository: apecloud/ape-dts
    tag: 0.1.17

redisTwemproxyImage:
  registry: ""
  repository: malexer/twemproxy
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: 0.5.0

busyboxImage:
  registry: ""
  repository: busybox
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: 1.36

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
clusterVersionOverride: ""
dataMountPath: /data

logConfigs:
  running: /data/running.log

metrics:
  image:
    # if the value of metrics.image.registry is not specified using `--set`, it will be set to the value of 'image.registry' by default
    registry: ""
    repository: apecloud/agamotto
    tag: 0.1.2-beta.1
    pullPolicy: IfNotPresent
  service:
    port: 9121