# Default values for greptimedb cluster.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""

terminationPolicy: "Delete"

## @param datanode configs
##
datanode:
  replicas: 3
  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.

    # limits:
    #   cpu: 500m
    #   memory: 512Mi
    # requests:
    #   cpu: 500m
    #   memory: 512Mi

  volume:
    storage: 10Gi

## @param etcd configs
##
etcd:
  replicas: 3
  resources: {}
  volume:
    storage: 10Gi

## @param meta configs
##
meta:
  replicas: 1
  resources: {}

## @param frontend configs
##
frontend:
  replicas: 1
  resources: {}


# Commit related information
# @param commitInfo - (object) Contains metadata about the last code commit.
commitInfo:
  # @param commitInfo.commitTime - (string) The timestamp of the last code commit, formatted as "YYYY-MM-DD HH:MM:SS".
  # This parameter is used to record the exact time of the most recent code commit.
  commitTime: "2024-12-03 07:20:38"

  # @param commitInfo.commitId - (string) The Git commit hash.
  # This parameter is used to track the specific Git commit identifier associated with the deployment.
  commitId: "192148f173e2a0a7e942b7d75c2050f9ee2d98fd"
