# Hadoop HDFS Cluster Configuration

nameOverride: ""

fullnameOverride: ""

# Replicas for each component
replicas:
  journalnode: 1
  namenode: 2
  datanode: 1
  zookeeper: 1
  resourcemanager: 2
  nodemanager: 1

serviceVersion: 3.3.6

zookeeperServiceVersion: 3.9.2

# Resource requirements for each component
resources:
  journalnode:
    requests:
      cpu: "0.1"
      memory: 0.5Gi
    limits:
      cpu: "0.5"
      memory: 2Gi
  namenode:
    requests:
      cpu: "0.1"
      memory: 0.5Gi
    limits:
      cpu: "0.5"
      memory: 2Gi
  datanode:
    requests:
      cpu: "0.1"
      memory: 0.5Gi
    limits:
      cpu: "0.5"
      memory: 2Gi
  nodemanager:
    requests:
      cpu: "0.1"
      memory: 0.5Gi
    limits:
      cpu: "0.5"
      memory: 8Gi
  resourcemanager:
    requests:
      cpu: "0.1"
      memory: 0.5Gi
    limits:
      cpu: "0.5"
      memory: 4Gi
  zookeeper:
    requests:
      cpu: "0.1"
      memory: 0.5Gi
    limits:
      cpu: "0.5"
      memory: 2Gi

# Storage requirements for each component
storage:
  journalnode: 10Gi
  namenode: 10Gi
  datanode: 30Gi
  nodemanager: 20Gi
  resourcemanager: 20Gi
  zookeeper: 20Gi

# Service references for external dependencies
serviceRefs:
  hadoopZookeeper:
    namespace: default
    clusterServiceSelector:
      cluster: zkcluster
      service:
        component: zookeeper
        service: headless
        port: client


# Advanced configurations
terminationPolicy: Delete

# enum values: ha-cluster, ha-ref-zk-cluster, hdfs-cluster
# default: ha-cluster, will create a zk instance for hadoop
# ha-ref-zk-cluster: need specify the serviceRefs of the already existed zk cluster
# hdfs-cluster: no yarn instances will be created
topology: ha-cluster

hostNetworkEnabled: false