name: Check Chart

on:
  push:
    paths:
      - "addons/**"
      - "addons-cluster/**"
    branches:
      - '**'
    tags-ignore:
      - '**'


env:
  GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  HELM_VERSION: v3.15.4

jobs:
  check-addons-helm:
    strategy:
      fail-fast: false
      matrix:
        registry: [ "", "dockerhub", "aliyun" ]
    uses: apecloud/apecloud-cd/.github/workflows/release-charts-check.yml@v0.1.68
    with:
      CHART_DIR: "addons"
      APECD_REF: "v0.1.68"
      SET_REGISTRY: "${{ matrix.registry }}"
    secrets: inherit

  check-addons-cluster-helm:
    uses: apecloud/apecloud-cd/.github/workflows/release-charts-check.yml@v0.1.68
    with:
      CHART_DIR: "addons-cluster"
      APECD_REF: "v0.1.68"
    secrets: inherit

  update-readme:
    if: ${{ github.ref_name != 'main' }}
    runs-on: ubuntu-latest
    steps:
      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: ${{ env.HELM_VERSION }}
      - uses: actions/checkout@v4
      - name: update readme
        id: update-readme
        run: |
          bash hack/update-readme.sh
          FILE_CHANGES=`git diff --name-only ${{ github.sha }}`
          if [[ ! -z "$FILE_CHANGES" ]]; then
              echo $FILE_CHANGES
              git config --local user.name "$GITHUB_ACTOR"
              git config --local user.email "$GITHUB_ACTOR@users.noreply.github.com"
              git commit -a -m "chore: auto update readme"
          fi
          echo file_changes=$FILE_CHANGES >> $GITHUB_OUTPUT

      - name: Push readme changes
        uses: ad-m/github-push-action@master
        if: ${{ steps.update-readme.outputs.file_changes }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}

  update-codeowners:
    if: ${{ github.ref_name != 'main' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: update codeowners
        id: update-codeowners
        run: |
          bash hack/update-codeowners.sh
          FILE_CHANGES=`git diff --name-only ${{ github.sha }}`
          if [[ ! -z "$FILE_CHANGES" ]]; then
              echo $FILE_CHANGES
              git config --local user.name "$GITHUB_ACTOR"
              git config --local user.email "$GITHUB_ACTOR@users.noreply.github.com"
              git commit -a -m "chore: auto update CODEOWNERS"
          fi
          echo file_changes=$FILE_CHANGES >> $GITHUB_OUTPUT

      - name: Push changes
        uses: ad-m/github-push-action@master
        if: ${{ steps.update-codeowners.outputs.file_changes }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
