name: Check Chart

on:
  push:
    paths:
      - "addons/**"
      - "addons-cluster/**"
    branches:
      - '*'
      - '*/*'
    tags-ignore:
      - '*'

jobs:
  check-addons-helm:
    strategy:
      fail-fast: false
      matrix:
        registry: [ "", "dockerhub", "aliyun" ]
    uses: apecloud/apecloud-cd/.github/workflows/release-charts-check.yml@v0.1.68
    with:
      CHART_DIR: "addons"
      APECD_REF: "v0.1.68"
      SET_REGISTRY: "${{ matrix.registry }}"
    secrets: inherit

  check-addons-cluster-helm:
    uses: apecloud/apecloud-cd/.github/workflows/release-charts-check.yml@v0.1.68
    with:
      CHART_DIR: "addons-cluster"
      APECD_REF: "v0.1.68"
    secrets: inherit
