name: Release Chart

on:
  workflow_dispatch:
    inputs:
      chart_dir:
        description: 'release specify chart dir or empty to release all'
        required: false
        default: ''
        type: choice
        options:
          - ""
          - apecloud-mysql
          - apecloud-mysql-cluster
          - apecloud-postgresql
          - apecloud-postgresql-cluster
          - camellia-redis-proxy
          - camellia-redis-proxy-cluster
          - clickhouse
          - clickhouse-cluster
          - elasticsearch
          - elasticsearch-cluster
          - etcd
          - etcd-cluster
          - foxlake
          - foxlake-cluster
          - greptimedb
          - greptimedb-cluster
          - kafka
          - kafka-cluster
          - llm
          - llm-cluster
          - mariadb
          - mariadb-cluster
          - milvus
          - milvus-cluster
          - minio
          - minio-cluster
          - mogdb
          - mogdb-cluster
          - mongodb
          - mongodb-cluster
          - mongodb-sharding-cluster
          - mysql
          - mysql-cluster
          - nebula
          - nebula-cluster
          - neon
          - neon-cluster
          - oceanbase
          - oceanbase-cluster
          - official-postgresql
          - official-postgresql-cluster
          - openldap
          - openldap-cluster
          - opensearch
          - opensearch-cluster
          - oracle
          - oracle-cluster
          - oracle-mysql
          - oracle-mysql-cluster
          - orioledb
          - orioledb-cluster
          - polardbx
          - polardbx-cluster
          - postgresql
          - postgresql-cluster
          - pulsar
          - pulsar-cluster
          - qdrant
          - qdrant-cluster
          - rabbitmq
          - rabbitmq-cluster
          - redis
          - redis-cluster
          - risingwave
          - risingwave-cluster
          - starrocks
          - starrocks-cluster
          - tdengine
          - tdengine-cluster
          - tidb
          - tidb-cluster
          - weaviate
          - weaviate-cluster
          - xinference
          - xinference-cluster
          - zookeeper
          - zookeeper-cluster
          - orchestrator
          - orchestrator-cluster
      chart_version:
        description: 'release specify chart version or empty to release default'
        required: false
        default: ''
env:
  GH_TOKEN: ${{ github.token }}

run-name: Release Chart ${{ inputs.chart_dir }} ${{ inputs.chart_version }}

jobs:
  release-chart:
    if: ${{ inputs.chart_dir != '' }}
    uses: apecloud/apecloud-cd/.github/workflows/release-charts.yml@v0.1.68
    with:
      VERSION: "${{ inputs.chart_version }}"
      CHART_DIR: "addons"
      SPECIFY_CHART: "${{ inputs.chart_dir }}"
      APECD_REF: "v0.1.68"
    secrets: inherit

  release-chart-all:
    if: ${{ inputs.chart_dir == '' }}
    uses: apecloud/apecloud-cd/.github/workflows/release-charts.yml@v0.1.68
    with:
      VERSION: "${{ inputs.chart_version }}"
      CHART_DIR: "addons"
      SPECIFY_CHART: "${{ inputs.chart_dir }}"
      APECD_REF: "v0.1.68"
      ENABLE_JIHU: false
    secrets: inherit

  release-addons-chart-jihu:
    if: ${{ inputs.chart_dir == '' }}
    strategy:
      fail-fast: false
      matrix:
        addon-name: [ apecloud-mysql, apecloud-mysql-cluster, apecloud-postgresql, apecloud-postgresql-cluster,
                      clickhouse, clickhouse-cluster, elasticsearch, elasticsearch-cluster, etcd, etcd-cluster,
                      flink, flink-cluster, foxlake, foxlake-cluster, greptimedb, greptimedb-cluster, influxdb,
                      kafka, kafka-cluster, llm, llm-cluster, mariadb, mariadb-cluster, milvus, milvus-cluster,
                      minio, minio-cluster, mongodb, mongodb-cluster, mongodb-sharding-cluster, mysql, mysql-cluster,
                      nebula, nebula-cluster, neon, neon-cluster, oceanbase, oceanbase-cluster, official-postgresql,
                      official-postgresql-cluster, opengauss, opengauss-cluster, openldap, openldap-cluster,
                      opensearch, opensearch-cluster, oracle, oracle-cluster, oracle-mysql, oracle-mysql-cluster,
                      orioledb, orioledb-cluster, polardbx, polardbx-cluster, postgresql, postgresql-cluster,
                      pulsar, pulsar-cluster, qdrant, qdrant-cluster, redis, redis-cluster, risingwave, risingwave-cluster,
                      starrocks, starrocks-cluster, tdengine, tdengine-cluster, tidb, tidb-cluster, weaviate,
                      weaviate-cluster, xinference, xinference-cluster, zookeeper, zookeeper-cluster ]
    uses: apecloud/apecloud-cd/.github/workflows/release-charts-jihu.yml@v0.1.68
    with:
      VERSION: "${{ inputs.chart_version }}"
      CHART_DIR: "addons"
      SPECIFY_CHART: "${{ matrix.addon-name }}"
      APECD_REF: "v0.1.68"
    secrets: inherit
