name: Release Chart

on:
  workflow_dispatch:
    inputs:
      chart_dir:
        description: 'release specify chart dir or empty to release all'
        required: false
        default: ''
        type: choice
        options:
          - ""
          - apecloud-mysql
          - apecloud-postgresql
          - camellia-redis-proxy
          - clickhouse
          - dmdb
          - doris
          - elasticsearch
          - etcd
          - flink
          - foxlake
          - greatsql
          - greptimedb
          - halo
          - influxdb
          - kafka
          - llm
          - mariadb
          - milvus
          - minio
          - mogdb
          - mongodb
          - mysql
          - nebula
          - neon
          - oceanbase-ce
          - official-postgresql
          - opengauss
          - openldap
          - opensearch
          - oracle
          - orchestrator
          - orioledb
          - polardbx
          - postgresql
          - pulsar
          - qdrant
          - rabbitmq
          - redis
          - risingwave
          - solr
          - starrocks-ce
          - tdengine
          - tidb
          - victoria-metrics
          - weaviate
          - xinference
          - yashandb
          - zookeeper
      chart_version:
        description: 'release specify chart version or empty to release default'
        required: false
        default: ''

env:
  GH_TOKEN: ${{ github.token }}

run-name: Release Chart ${{ inputs.chart_dir }} ${{ inputs.chart_version }}

jobs:
  release-chart:
    if: ${{ inputs.chart_dir != '' }}
    uses: apecloud/apecloud-cd/.github/workflows/release-charts.yml@v0.1.68
    with:
      VERSION: "${{ inputs.chart_version }}"
      CHART_DIR: "addons"
      SPECIFY_CHART: "${{ inputs.chart_dir }}"
      APECD_REF: "v0.1.68"
    secrets: inherit

  release-chart-all:
    if: ${{ inputs.chart_dir == '' }}
    uses: apecloud/apecloud-cd/.github/workflows/release-charts.yml@v0.1.68
    with:
      VERSION: "${{ inputs.chart_version }}"
      CHART_DIR: "addons"
      SPECIFY_CHART: "${{ inputs.chart_dir }}"
      APECD_REF: "v0.1.68"
      ENABLE_JIHU: false
    secrets: inherit

  get-addons-chart-dir:
    if: ${{ inputs.chart_dir == '' }}
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.get_addons_chart_dir.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - name: get addons chart dir
        id: get_addons_chart_dir
        run: |
          addons_list=$(ls addons)
          ADDONS_DIR=""
          for addons_name in $( echo "$addons_list" ); do
              if [[ -z "$ADDONS_DIR" ]]; then
                  ADDONS_DIR="{\"addon-name\":\"$addons_name\"}"
              else
                  ADDONS_DIR="$ADDONS_DIR,{\"addon-name\":\"$addons_name\"}"
              fi
          done
          echo "$ADDONS_DIR"
          echo "matrix={\"include\":[$ADDONS_DIR]}" >> $GITHUB_OUTPUT


  release-addons-chart-jihu:
    needs: [ get-addons-chart-dir ]
    if: ${{ inputs.chart_dir == '' }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.get-addons-chart-dir.outputs.matrix) }}
    uses: apecloud/apecloud-cd/.github/workflows/release-charts-jihu.yml@v0.1.68
    with:
      VERSION: "${{ inputs.chart_version }}"
      CHART_DIR: "addons"
      SPECIFY_CHART: "${{ matrix.addon-name }}"
      APECD_REF: "v0.1.68"
    secrets: inherit
