# Default values for Pulsar.

nameOverride: ""

fullnameOverride: ""

## @param debugEnabled 
#
debugEnabled: false

## Default Pulsar image
image:
  ## image.registry is the top level registry config
  registry: docker.io
  repository: apecloud/pulsar
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag:

## Images
##
## Control what images to use for each component
images:
  # 2.x and 3.x images are packaged by apecloud to add arm64 support. 4.x images are mirrored from apachepulsar/pulsar
  pulsarTools:
    # if the value of images.pulsarTools.registry is not specified using `--set`, it will be set to the value of 'image.registry' by default
    registry: ""
    repository: apecloud/pulsartools
    pullPolicy: ""
    tag: "2.11"

  v2_11_2:
    bookie:
      repository: apecloud/pulsar
      pullPolicy: IfNotPresent
      tag: 2.11.2

    zookeeper:
      # Zookeeper component is used for metadata, shouldn't need update following tag value for common
      # upgrade scenario
      # if the value of images.zookeeper.registry is not specified using `--set`, it will be set to the value of 'image.registry' by default
      registry: ""
      repository: apecloud/pulsar
      pullPolicy: IfNotPresent
      tag: 2.11.2

    broker:
      repository: apecloud/pulsar
      pullPolicy: IfNotPresent
      tag: 2.11.2

    proxy:
      repository: apecloud/pulsar
      pullPolicy: IfNotPresent
      tag: 2.11.2

  v3_0_2:
    bookie:
      repository: apecloud/pulsar
      pullPolicy: IfNotPresent
      tag: 3.0.2

    zookeeper:
      # Zookeeper component is used for metadata, shouldn't need update following tag value for common
      # upgrade scenario
      # if the value of images.zookeeper.registry is not specified using `--set`, it will be set to the value of 'image.registry' by default
      registry: ""
      repository: apecloud/pulsar
      pullPolicy: IfNotPresent
      tag: 3.0.2

    broker:
      repository: apecloud/pulsar
      pullPolicy: IfNotPresent
      tag: 3.0.2

    proxy:
      repository: apecloud/pulsar
      pullPolicy: IfNotPresent
      tag: 3.0.2
  
  v4_0_6:
    bookie:
      repository: apecloud/pulsar
      pullPolicy: IfNotPresent
      tag: 4.0.6

    broker:
      repository: apecloud/pulsar
      pullPolicy: IfNotPresent
      tag: 4.0.6

    proxy:
      repository: apecloud/pulsar
      pullPolicy: IfNotPresent
      tag: 4.0.6

metrics:
  service:
    port: 1234

clusterDomain: "cluster.local"

# cloud provider: ["aws","gcp","aliyun","tencentCloud", "huaweiCloud", "azure"]
cloudProvider: ""

## @param define default serviceVersion of each Component
defaultServiceVersion:
  recovery:
    major2: "2.11.2"
    major3: "3.0.2"
    major4: "4.0.6"
  bookkeeper:
    major2: "2.11.2"
    major3: "3.0.2"
    major4: "4.0.6"
  broker:
    major2: "2.11.2"
    major3: "3.0.2"
    major4: "4.0.6"
  proxy:
    major2: "2.11.2"
    major3: "3.0.2"
    major4: "4.0.6"
  zookeeper:
    major2: "2.11.2"
    major3: "3.0.2"
    major4: "4.0.6"
