# Default values for Pulsar.

clusterVersionOverride: ""
nameOverride: ""
fullnameOverride: ""

## @param commonLabels Labels to add to all deployed objects
##
commonLabels: {}

commonAnnotations: {}

## @param debugEnabled 
#
debugEnabled: false

## Default Pulsar image
image:
  ## image.registry is the top level registry config
  registry: docker.io
  repository: apecloud/pulsar
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag:

## Images
##
## Control what images to use for each component
images:
  pulsarTools:
    # if the value of images.pulsarTools.registry is not specified using `--set`, it will be set to the value of 'image.registry' by default
    registry: ""
    repository: apecloud/pulsartools
    pullPolicy: ""
    tag: "2.11"

  metrics:
    # if the value of images.pulsarTools.registry is not specified using `--set`, it will be set to the value of 'image.registry' by default
    registry: ""
    repository: apecloud/agamotto
    pullPolicy: IfNotPresent
    tag: 0.1.2-beta.2

  v2_11_2:
    bookie:
      repository: apecloud/pulsar
      pullPolicy: ""
      tag: ""

    zookeeper:
      # Zookeeper component is used for metadata, shouldn't need update following tag value for common
      # upgrade scenario
      # if the value of images.zookeeper.registry is not specified using `--set`, it will be set to the value of 'image.registry' by default
      registry: ""
      repository: apecloud/pulsar
      pullPolicy: IfNotPresent
      tag: 2.11.2

    broker:
      repository: apecloud/pulsar
      pullPolicy: IfNotPresent
      tag: 2.11.2

    proxy:
      repository: apecloud/pulsar
      pullPolicy: IfNotPresent
      tag: 2.11.2

  v3_0_2:
    bookie:
      repository: apecloud/pulsar
      pullPolicy: IfNotPresent
      tag: 3.0.2

    zookeeper:
      # Zookeeper component is used for metadata, shouldn't need update following tag value for common
      # upgrade scenario
      # if the value of images.zookeeper.registry is not specified using `--set`, it will be set to the value of 'image.registry' by default
      registry: ""
      repository: apecloud/pulsar
      pullPolicy: IfNotPresent
      tag: 3.0.2

    broker:
      repository: apecloud/pulsar
      pullPolicy: IfNotPresent
      tag: 3.0.2

    proxy:
      repository: apecloud/pulsar
      pullPolicy: IfNotPresent
      tag: 3.0.2

metrics:
  service:
    port: 1234


clusterDomain: ".cluster.local"

# cloud provider: ["aws","gcp","aliyun","tencentCloud", "huaweiCloud", "azure"]
cloudProvider: ""